<% layout('layouts/global') %>
    <div class="header">
        <%- include('../partials/globalNav') %>
            Basket: <br>
            <div class="basket-container">
                <% for(a of basket){ %>
                    <div class="row">

                        <p>
                            £<%=a.price %>
                        </p>
                    </div>
                    <% } %>
            </div>

    </div>