* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  z-index: -1;
}

html {
  font-size: 62.5%;
}

@media (max-width: 700px) {
  .body {
    margin: 0;
  }
}
main {
  z-index: -10;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  80% {
    transform: translateX(20px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  80% {
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveInTop {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes fromCenter {
  0% {
    opacity: 0;
  }
  80% {
    scale: 110%;
  }
  100% {
    opacity: 1;
    scale: 100%;
  }
}
@keyframes logo-hover {
  0% {
    scale: 100%;
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(-30deg);
  }
  80% {
    scale: 110%;
    transform: rotate(20deg);
    filter: drop-shadow(0 5px 10px #05060F);
  }
  100% {
    scale: 100%;
    transform: rotate(0deg);
  }
}
@keyframes fire {
  0% {
    text-shadow: 1px 1px 8px #05060F;
  }
  50% {
    text-shadow: 1px 1px 8px red;
  }
  100% {
    text-shadow: 1px 1px 8px #05060F;
  }
}
.u-center-text {
  text-align: center;
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem;
}

.u-margin-bottom-medium {
  margin-bottom: 4rem;
}

.u-margin-bottom-big {
  margin-bottom: 8rem;
}

.u-margin-small {
  margin: 1.5rem;
}

.body {
  font-family: "Playfair Display", serif;
  text-decoration: none;
}

.button {
  font-size: 1.7rem;
  font-weight: 600;
  letter-spacing: 3px;
  color: #087E8B;
}

.primary-title {
  position: absolute;
  color: #fff;
  top: 40%;
  left: 40%;
  text-transform: uppercase;
  transform: translate(-50%, -50%);
  text-shadow: 1px 1px 8px #05060F;
}
.primary-title:hover {
  animation: fire 1s;
}
.primary-title-main {
  font-size: 60px;
  font-weight: 800;
  letter-spacing: 15px;
  display: block;
  animation: moveInLeft 1s;
}
.primary-title-sub {
  font-size: 40px;
  font-weight: 400;
  display: block;
  animation: moveInRight 1s;
}

.home-nav {
  text-align: center;
}

.home-love {
  letter-spacing: normal;
}

.secondary-title {
  font-size: 3.5rem;
  text-align: center;
  font-weight: 700;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.tertiary-title {
  font-size: 2.5rem;
}

.paragraph {
  font-size: 1.7rem;
}

.home-footer {
  color: #087E8B;
  font-size: 1.5rem;
}

@media (max-width: 1000px) {
  .card-title {
    font-size: 2.5rem;
  }
}
@media (max-width: 760px) {
  .secondary-title {
    font-size: 2.5rem;
  }
  .primary-title-main {
    font-size: 1.7rem;
    margin-top: 10rem;
  }
}
@media (max-width: 460px) {
  .tertiary-title {
    font-size: 1.5rem;
  }
  .secondary-title {
    font-size: 1.7rem;
  }
  .home-footer {
    color: #087E8B;
    font-size: 0.8rem;
  }
  .card-title {
    font-size: 2.5rem;
  }
}
.row {
  max-width: 93rem;
  margin: 0 auto;
}
.row:not(:last-child) {
  margin-bottom: 6rem;
}
.row::after {
  content: "";
  display: table;
  clear: both;
}
.row [class^=col-] {
  float: left;
}
.row [class^=col-]:not(:last-child) {
  margin-right: 3rem;
}
.row .col-1-of-2 {
  width: calc((100% - 3rem) / 2);
}
.row .col-1-of-3 {
  width: calc((100% - 2* 3rem) / 3);
}
.row .col-1-of-4 {
  width: calc((100% - 3* 3rem) / 4);
}
.row .col-2-of-3 {
  width: calc((100% - 2* 3rem) / 3 * 2 + 3rem);
}
.row .col-2-of-4 {
  width: calc((100% - 3* 3rem) / 4 * 2 + 3rem);
}
.row .col-3-of-4 {
  width: calc((100% - 2* 3rem) / 4 * 3 + 3rem);
}

.edit-title {
  margin: 2rem 0;
}

.form-body {
  background-color: rgba(221, 231, 238, 0.8);
  padding: 1rem;
  border-radius: 2px;
  box-shadow: 0 10px 10px rgba(5, 6, 15, 0.2);
  text-align: center;
}
.form-title {
  letter-spacing: 1rem;
  margin: 3rem 0;
}
.form-col {
  padding-top: 1rem;
  width: 50%;
  display: inline-block;
}
.form-input {
  width: 40%;
  margin: 0 auto;
}
.form label {
  display: block;
}
.form hr {
  border: unset;
}
.form button {
  width: 30%;
  display: inline-block;
  margin: 1rem auto;
}

.button:link, .button:visited {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1rem 1.5rem;
  margin: 30px;
  border-radius: 100px;
  transition: all 0.2s;
  position: relative;
  transition: all 0.2s;
  animation: moveInTop 1s;
  background-color: rgba(221, 231, 238, 0.8);
  box-shadow: 0 5px 5px rgba(5, 6, 15, 0.2);
}
.button:link-dark, .button:visited-dark {
  background-color: rgba(82, 164, 223, 0.8);
}
.button:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(5, 6, 15, 0.2);
}
.button:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 5px rgba(5, 6, 15, 0.2);
}
.button-dark {
  background-color: rgba(82, 164, 223, 0.8);
  color: #193c58;
}
.button-dark::after {
  background-color: #fff;
}

.navbar {
  z-index: 20;
  font-size: 1.5rem;
  text-transform: uppercase;
  background-color: white;
  letter-spacing: 1px;
}
.navbar-brand {
  background-color: black;
  background-clip: content-box;
}
.navbar-logo {
  width: 2rem;
}
.navbar-user {
  margin-right: 0 !important;
}
.navbar .nav-item:hover {
  -webkit-text-decoration: underline 1px black;
          text-decoration: underline 1px black;
}

.header {
  background-image: linear-gradient(to right, rgba(200, 29, 37, 0.4), rgba(200, 29, 37, 0.4)), url(../images/background-home.jpg);
  padding: 0;
  min-height: 95vh;
  background-size: cover;
  background-position: bottom;
  position: relative;
  overflow: hidden;
}

.composition {
  position: relative;
  z-index: 10;
}
.composition-image {
  box-shadow: 0 10px 10px rgba(5, 6, 15, 0.2);
  border-radius: 2px;
  outline-offset: 0.5rem;
  transition: all 0.4s;
}
.composition-image:hover {
  transform: scale(105%) translateY(-1.1rem);
  box-shadow: 0 20px 20px rgba(5, 6, 15, 0.2);
  z-index: 20;
  outline: 2px #087E8B solid;
}
.composition-image-1 {
  max-width: 40rem;
  position: absolute;
  top: 7.5rem;
}
.composition-image-2 {
  max-width: 20rem;
  position: absolute;
  top: 2rem;
  left: -4rem;
}
.composition-image-3 {
  max-width: 20rem;
  position: absolute;
  top: 18rem;
  left: 23rem;
}
.composition:hover .composition-image:not(:hover) {
  transform: scale(0.95);
}

@media (max-width: 1000px) {
  .composition-image-1 {
    max-width: 20rem;
    position: absolute;
    top: 6.5rem;
    left: 9rem;
  }
  .composition-image-2 {
    max-width: 15rem;
    position: absolute;
    top: 12rem;
    left: 23rem;
  }
  .composition-image-3 {
    max-width: 15rem;
    position: absolute;
    top: 2rem;
    left: 2rem;
  }
  .composition-paragraph {
    font-size: 0.8rem;
    -moz-columns: 2;
         columns: 2;
    -moz-column-rule: 1px solid black;
         column-rule: 1px solid black;
  }
}
@media (max-width: 760px) {
  .section-about .col-1-of-2 {
    display: block;
    width: 100%;
  }
  .section-about .composition {
    position: unset;
    width: -moz-fit-content;
    width: fit-content;
    display: block;
    text-align: center;
    margin: 0 auto;
  }
  .section-about .composition-image {
    position: unset;
    width: 30%;
    margin: 0 1%;
  }
  .section-about .composition-text {
    padding: 1rem;
    text-align: center;
  }
}
.component-card {
  margin-top: 8rem;
  background-color: #dde7ee;
  border-radius: 5px;
  text-align: center;
  transition: all 0.2s;
  position: relative;
  height: 40.6rem;
  overflow: hidden;
  box-shadow: 0 10px 10px rgba(5, 6, 15, 0.2);
}
.component-card:hover {
  transform: scale(115%);
  background-color: #52a4df;
  box-shadow: 0 20px 20px rgba(5, 6, 15, 0.2);
}

.card-header {
  height: 33.33333%;
  width: 101%;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 99%);
          clip-path: polygon(0 0, 100% 0, 100% 80%, 0 99%);
  background-blend-mode: screen;
  background-position: right;
  overflow: hidden;
}
.card-header-1 {
  background-image: linear-gradient(to right, #FF5A5F, #C81D25), url(../../images/bigface.jpg);
}
.card-header-2 {
  background-image: linear-gradient(to right, #087E8B, #0B3954), url(../../images/vango.jpg);
}
.card-header-3 {
  background-image: linear-gradient(to right, #79dc79, #447a44), url(../../images/totoro.png);
}
.card-title {
  font-weight: 500;
  letter-spacing: 3px;
  text-align: center;
  position: relative;
  top: -3.5rem;
  color: transparent;
}
.card-title-1 {
  background-image: linear-gradient(to right, black, #C81D25);
  -webkit-background-clip: text;
          background-clip: text;
}
.card-title-2 {
  background-image: linear-gradient(to right, black, #0B3954);
  -webkit-background-clip: text;
          background-clip: text;
}
.card-title-3 {
  background-image: linear-gradient(to right, black, #447a44);
  -webkit-background-clip: text;
          background-clip: text;
}
.card-text {
  position: relative;
  top: -3.5rem;
  margin: 2rem;
  font-size: 1.5rem;
}
.card-logo {
  margin: 2rem 50%;
  transform: translate(-50%, 0);
  width: 4rem;
}

@media (max-width: 1000px) {
  .card-text {
    font-size: 1.5rem;
    margin: 1rem;
  }
  .card-header {
    background-position: right;
  }
  .component-card {
    height: 40rem;
  }
}
@media (max-width: 900px) {
  .component-card {
    width: 20rem;
  }
}
@media (max-width: 760px) {
  .card-text {
    font-size: 1.5rem;
    margin: 1rem;
  }
  .component-card {
    display: block;
    width: 23rem;
    margin: 0 auto;
    margin-top: 0px;
    margin-top: 5rem;
  }
}
.footer-logo {
  width: 15rem;
  position: absolute;
  top: 73%;
  left: -1%;
}

.contacts {
  list-style: none;
}

.global-footer {
  background-color: #dde7ee;
  padding: 1rem;
  margin: 1rem 0;
  font-size: 1.5rem;
  position: fixed;
  bottom: 0;
  width: 100vw;
}

.home-footer {
  z-index: -1;
  font-size: -40%;
}

.images {
  perspective: 1500px;
  position: relative;
  height: 40rem;
  width: 40rem;
  font-size: 1.7rem;
  display: inline-block;
  margin: 2rem;
}
.images-side {
  display: inline-block;
  height: 40rem;
  margin: 2rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 40rem;
  transition: all 0.8s ease;
  height: 32.5rem;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  box-shadow: 0 10px 10px rgba(5, 6, 15, 0.2);
  border-radius: 5px;
}
.images-side-back {
  padding: 1rem;
  background-image: linear-gradient(to right bottom, rgba(255, 255, 255, 0.8), rgba(221, 231, 238, 0.8));
  transform: rotateY(-180deg);
}
.images:hover .images-side-front {
  transform: rotateY(180deg);
}
.images:hover .images-side-back {
  transform: rotateY(0);
}
.images-cta {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  padding: 3rem;
}
.images-info-box {
  color: #0B3954;
  text-align: center;
  margin: 0 3rem;
}
.images-info-title {
  font-size: 2.5rem;
}
.images-info-price {
  font-size: 3.75rem;
  font-weight: 100;
}
.images-info-description {
  max-height: 10rem;
  overflow: hidden;
}
.images .btn-price {
  padding: 0.16rem 4.25rem;
  margin: 0 50%;
  transform: translateX(-50%);
}

.footer-logo {
  width: 15rem;
  position: absolute;
  top: 73%;
  left: -1%;
}

.contacts {
  list-style: none;
}

.global-footer {
  background-color: #dde7ee;
  padding: 1rem;
  margin: 1rem 0;
  font-size: 1.5rem;
  position: fixed;
  bottom: 0;
  width: 100vw;
}

.home-footer {
  z-index: -1;
  font-size: -40%;
}

.display-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  position: relative;
}
.display-wrapper {
  display: flex;
  width: 80vw;
  height: 100%;
  position: relative;
  overflow: hidden;
}
.images-side-display {
  width: 30rem;
  height: 30rem;
  margin: 2rem -2rem;
}

.scroll-buttons {
  display: inline-block;
  font-size: 3.5rem;
  font-weight: 800;
  text-shadow: 1rem 1rem 1rem;
  cursor: pointer;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  /* Internet Explorer/Edge */
  user-select: none;
}

@media (max-width: 850px) {
  .index-display-images {
    width: 65rem;
    height: 65rem;
    margin: 0 10rem;
  }
  .images-side {
    width: 50rem;
    height: 50rem;
  }
}
@media (max-width: 500px) {
  .index-display-images {
    height: 40rem;
    width: 40rem;
    margin: 0px 4rem;
    margin-top: 2rem;
  }
  .images-side {
    width: 30rem;
    height: 30rem;
  }
}
.popup {
  height: 100vh;
  width: 100%;
  background-color: rgba(5, 6, 15, 0.9);
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
  border-radius: 5px;
}
.popup:target {
  opacity: 1;
  visibility: visible;
}
.popup-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #dde7ee;
  padding: 2rem;
  border-radius: 5px;
}
.popup-content-close {
  position: absolute;
  top: 0.2rem;
  right: 0.5rem;
  text-decoration: none;
  font-size: 1.7rem;
}

.user-form {
  display: table;
}

.user-input {
  font-size: 1.7rem;
  display: table-row;
}
.user-input label {
  display: table-cell;
  white-space: nowrap;
}
.user-input input {
  display: table-cell;
}

.user-submit {
  margin: 0 auto;
  border-radius: 5px;
  width: 50%;
  text-decoration: none;
  border: none;
}

.global-flash {
  display: inline-block;
  z-index: 100;
  width: 100%;
}

.home-header {
  -webkit-clip-path: polygon(0 0, 1000% 0, 0 99%, 0 0);
          clip-path: polygon(0 0, 1000% 0, 0 99%, 0 0);
}

.section-about {
  /* top | right | bottom | left */
  padding: 28rem 0 9.5rem 0;
  margin-top: -20rem;
  padding-bottom: 20rem;
  background-color: #dde7ee;
}

.service {
  background-size: cover;
  transform: skewY(-7deg);
  padding: 8rem;
  margin-top: -10rem;
}

.service > * {
  transform: skewY(7deg);
}

.home-footer {
  z-index: -1;
  background-color: #edeedd;
  margin-top: -10rem;
  padding-top: 20rem;
  position: relative;
}

@media (max-width: 1000px) {
  .home-header {
    -webkit-clip-path: none;
            clip-path: none;
    min-height: 50vh;
  }
  .section-about {
    /* top | right | bottom | left */
    padding: 28rem 0 9.5rem 0;
    margin-top: -20rem;
    padding-bottom: 20rem;
    background-color: #dde7ee;
  }
  .service {
    min-height: 61vh;
    padding-bottom: 10rem;
  }
}
@media (max-width: 760px) {
  .section-about {
    /* top | right | bottom | left */
    padding: 28rem 0 9.5rem 0;
    margin-top: -20rem;
    padding-bottom: 20rem;
    background-color: #dde7ee;
  }
  .home-footer {
    z-index: -1;
    background-color: #edeedd;
    margin-top: -10rem;
    padding-top: 15rem;
    position: relative;
  }
  .service .col-1-of-3 {
    margin: 2rem;
    display: contents;
  }
}
@media (max-width: 760px) {
  .service {
    padding: 0 20%;
    padding-bottom: 10rem;
  }
}
.index-background {
  height: 97vh;
}

.index-display {
  width: 90%;
  text-align: center;
  transition: all 0.4s ease;
  margin: 0 auto;
  left: 0;
}

.index-title {
  color: black;
  text-transform: uppercase;
  text-shadow: 0 20px 20px rgba(5, 6, 15, 0.2);
  margin: 0 auto;
  width: 60%;
  font-weight: 800;
  letter-spacing: 10px;
}

.services {
  margin: 1.5rem;
}
.services-body {
  background-color: rgba(221, 231, 238, 0.8);
  padding: 1rem;
  border-radius: 2px;
  box-shadow: 0 10px 10px rgba(5, 6, 15, 0.2);
}
.services-title {
  letter-spacing: 1rem;
  margin: 3rem 0;
}
.services-col {
  padding-top: 1rem;
  width: 50%;
  display: inline-block;
}
.services-description {
  text-align: center;
  margin-right: 0;
}
.services-text {
  font-size: 1.7rem;
  -moz-columns: 2;
       columns: 2;
  -moz-column-rule: 1px solid #88B9BE;
       column-rule: 1px solid #88B9BE;
  justify-self: center;
}
.services-form {
  text-align: center;
  border-left: 1px solid black;
}
.services label {
  display: block;
}
.services button {
  display: block;
  margin: 1rem auto;
}

@media (max-width: 800px) {
  .services-text {
    font-size: 1.2rem;
    -moz-columns: unset;
         columns: unset;
  }
  .services-form {
    padding-left: 1rem;
  }
}
.show-row {
  height: 90vh;
  width: 90%;
}
.show-image {
  max-width: 100%;
  margin: 0 auto;
  box-shadow: 0 10px 10px rgba(5, 6, 15, 0.2);
}
.show-info {
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.4);
  height: 100%;
}
.show-price {
  font-size: 3.5rem;
  text-align: center;
  margin-bottom: 2rem;
}
.show-description {
  font-size: 1.7rem;
  margin: 0 1rem;
  float: left;
}
.show-button {
  margin: 2rem;
  float: left;
}
.show-title {
  margin-top: 2rem;
}

@media (max-width: 750px) {
  .show-row {
    position: unset;
  }
  .show-col {
    float: none;
    display: contents;
  }
  .show-image {
    max-width: 90%;
    margin: 0 2rem;
  }
  .show-info {
    background-color: rgba(255, 255, 255, 0.4);
  }
  .show-info-wrapper {
    padding: 2rem;
  }
}
.admin {
  text-align: center;
}
.admin-user {
  display: inline-block;
  background-color: rgba(221, 231, 238, 0.8);
  width: 20rem;
  margin-bottom: 2rem;
  padding: 2rem;
  margin-top: 10rem;
}

.error-title {
  font-size: 3.5rem;
  font-weight: 500;
}

.new-title {
  margin: 3rem;
}

.new {
  text-align: center;
}
.new form {
  display: inline-block;
  background-color: #dde7ee;
  width: 40%;
  text-align: center;
  border-radius: 5px;
  padding: 2rem 0;
}
.new-input {
  font-size: 1.7rem;
}
.new-input label {
  text-transform: capitalize;
}
.new-input input {
  margin: 0 auto;
  max-width: 50%;
}
.new-input textarea {
  margin: 0 auto;
  max-width: 50%;
}
.new-input .button-dark {
  margin: 1rem auto;
  border-radius: 5px;
  width: 50%;
  text-decoration: none;
  border: none;
}

@media (max-width: 800px) {
  .new form {
    width: 80%;
  }
  .new label {
    margin-bottom: 0.5rem;
  }
  .new input {
    margin-bottom: 1rem;
    max-width: 80%;
  }
  .new-input {
    font-size: 1.2rem;
  }
}
.contact {
  height: 100vh;
  overflow-y: scroll;
  padding-bottom: 10rem;
}
.contact form {
  display: contents;
}
.contact a {
  display: contents;
}
.contact-info {
  background-color: aliceblue;
  margin-bottom: 1rem;
}
.contact-info-request {
  height: 3rem;
  overflow: hidden;
}
.contact-request {
  height: 30rem;
  padding-bottom: 30rem;
}
.contact-request-image {
  width: 90%;
}
.contact-request-image-container {
  justify-content: center;
  width: 18rem;
  height: 10rem;
}
.contact-request-button {
  width: 40%;
  margin: 0 auto;
  margin-top: 2rem;
}
.contact-show-info {
  padding: 2rem;
  width: 100%;
}
.contact-show-description {
  font-size: 1.7rem;
}
.contact-show-buttons {
  margin-top: 4rem;
}
.contact-show-buttons button {
  display: block;
}/*# sourceMappingURL=app.css.map */