.body{
    text-decoration: none;
}

.image{
    border: 1px solid black;
   /* // box-shadow: #4b88a2 2px 1px 0px; */
    margin: 15px;
}

.card-index{
    max-width: 50%;
    display: inline;
}

/* partials */
.navbar{
    background-color: #D3D4D9;
}

.navbar li:hover{
    box-shadow: 1px 2px 5px  #4b88a2;
}

/* user */
.sign-form{
    align-self: center;
    text-align: center;
    justify-content: center;
    padding: 10px;
}
.sign-form input{
    max-width: 40%;
}

/* art */

.img-show{
    max-width: 100%;
    max-height: 100vh;
}