
.footer-logo{
    width: 15rem;
    position: absolute;
    top: 73%;
    left: -1%;
}

.contacts{
    list-style: none;
}

.global-footer{
    background-color: $color-background-light;
    padding: 1rem;
    margin: 1rem 0;
    font-size: $font-size-smaller;
    position: fixed;
    bottom: 0;
    width: 100vw;
    z-index: -1;

}