
.footer-logo{
    width: 15rem;
    position: absolute;
    top: 50%;
    left: 80%;
}

.contacts{
    list-style: none;
}

.global-footer{
    background-color: $color-background-light;
    padding: 1rem;
    font-size: $font-size-smaller;

}