.home-footer{
    background-color: $color-background-yellow;
    margin-top: -20rem;
    padding-top: 10rem;
    position: relative;
 

}

.footer-logo{
    width: 15rem;
    position: absolute;
    top: 50%;
    left: 80%;
}

.contacts{
    list-style: none;
}