.navbar {
    font-size: $font-size-smaller;
    text-transform: uppercase;
    background-color: white;
    letter-spacing: 1px;

    &-brand {
        background-color: black;
        background-clip: content-box;
    }

    &-logo {
        width: 2rem;
    }

    &-user {
        margin-right: 0 !important;
    }

    .nav-item {

        &:hover {
            text-decoration: underline 1px black;
        }

    }
}

// .navbar {
//     width: 100%;

//     &-row {
//         padding: 1rem;
//         padding-bottom: .1rem;
//         padding-top: 0;
//         margin: unset;
//         width: 100%;
//         text-align: center;
//         border-bottom: 2px solid black;
//     }

//     &-col{
//         padding: 0 1px;
//         display: inline-block;
//         width: 45%;
//     }

//     &-logo {
//         text-align: left;
//         width: 10%;
//         padding: .2rem;

//         &-logo {
//             max-width: 2rem;
//         }

//     }

//     &-nav {
//         align-self: center;
//         border-left: 1px solid black;
//         border-right: 1px solid black;

//     }

//     &-user {
//         align-self: center;
//         float: right;
//         padding-right: 0;
//     }

//     &-link {
//         font-size: 1rem;
//         font-weight: 600;
//         text-decoration: none;
//         color: $color-text-dark;
//         display: inline;
//         margin: .5rem;


//     }
// }