<% layout('layouts/boilerplate') %>
    <div class="container">
        <div class="col">
            <div class="row">
                I've been making art for exactly 900 mins over my lifetime, here you will find some drawings and art
                that i
                have
                made, you will have the opportunity to view it with
                your eyes and even pay me money so you can put it on your wall and look at it even more</div>
        </div>
    </div>