<% layout('layouts/home') %>
    <div class="home-background">
        <nav class="home-nav">
            <img src="/images/lovebirdlogo-white.png" alt="logo" class="home-background-logo">
            <a href="/" class="button">Home</a>
            <a href="/art" class="button">Gallery</a>
            <a href="/about" class="button">about</a>
        </nav>
        <h1 class="home-title">
            <span class="home-title-main"><span class="main-love">&lt;3</span> Bird</span>
            <span class="home-title-sub">For the love of art</span>
        </h1>

    </div>