<% layout('layouts/boilerplate') %>

<div class="pricing-body">
  <h1>I can draw you! </h1> 
  For different amounts of money i can draw different things! you? a tree? something profound! <br>
  It will take time so expect to wait while i draw it for you as i have to do things like eat and work. <br>
  e-mail me at <a href="#">iCanDrawSomeThings@nbt.com</a>
</div>
