<% layout('layouts/global') %>
<div class="header ">
<%- include('../partials/globalNav') %>

<section class="services">

    <h2 class="secondary-title services-title">Services</h2>

    <form action="/services" method="POST" class="services-form" enctype="multipart/form-data">

        <label for="name">Name:</label>
        <input type="text" id="name" name="name" class="services-inputs" required>

        <label for="email">E-mail:</label>
        <input type="email" name="email" id="email" class="services-inputs" required>

        <label for="description" class="services-inputs" required>description:</label>
        <textarea name="description" id="description" cols="30" rows="10"></textarea>

        <label for="image">Upload Image:</label>
        <input type="file" name="image" id="image">
        

        <button class="button button-white">Submit</button>
    </form>
   
</section>



<!-- add pricing and descriptions
 -->

  <!-- <div class="row">
        <div class="col-1-of-3">
            <div class="component-card">
                <div class="card-header card-header-1"> </div>
                <div class="tertiary-title card-title card-title-1">My art</div>
                <div class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Esse,
                    repellendus pariatur voluptates omnis culpa reiciendis harum, quo enim aut aliquid
                    numquam maiores minima et consectetur temporibus dolorum laudantium placeat non!
                </div>
            </div>

        </div>

        <div class="col-1-of-3">
            <div class="component-card">
                <div class="card-header card-header-2"> </div>
                <div class="tertiary-title card-title card-title-2">Commissions</div>
                <div class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Esse,
                    repellendus pariatur voluptates omnis culpa reiciendis harum, quo enim aut aliquid
                    numquam maiores minima et consectetur temporibus dolorum laudantium placeat non!
                </div>
            </div>

        </div>

        <div class="col-1-of-3">

            <div class="component-card">
                <div class="card-header card-header-3">
                </div>
                <div class="tertiary-title card-title card-title-3">Digital portraits</div>
                <div class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Esse,
                    repellendus pariatur voluptates omnis culpa reiciendis harum, quo enim aut aliquid
                    numquam maiores minima et consectetur temporibus dolorum laudantium placeat non!</div>

            </div>
        </div>
    </div> -->
  