<% layout('layouts/global') %>
<div class="header ">
<%- include('../partials/globalNav') %>

<section class="section-services">
    <div class="row">
        <div class="col-1-of-3">
            <div class="component-card">
                <div class="card-header card-header-1"> </div>
                <div class="tertiary-title card-title card-title-1">My art</div>
                <div class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Esse,
                    repellendus pariatur voluptates omnis culpa reiciendis harum, quo enim aut aliquid
                    numquam maiores minima et consectetur temporibus dolorum laudantium placeat non!
                </div>
            </div>

        </div>

        <div class="col-1-of-3">
            <div class="component-card">
                <div class="card-header card-header-2"> </div>
                <div class="tertiary-title card-title card-title-2">Commissions</div>
                <div class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Esse,
                    repellendus pariatur voluptates omnis culpa reiciendis harum, quo enim aut aliquid
                    numquam maiores minima et consectetur temporibus dolorum laudantium placeat non!
                </div>
            </div>

        </div>

        <div class="col-1-of-3">

            <div class="component-card">
                <div class="card-header card-header-3">
                </div>
                <div class="tertiary-title card-title card-title-3">Digital portraits</div>
                <div class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Esse,
                    repellendus pariatur voluptates omnis culpa reiciendis harum, quo enim aut aliquid
                    numquam maiores minima et consectetur temporibus dolorum laudantium placeat non!</div>

            </div>
        </div>
    </div>
  
</section>



<!-- add pricing and descriptions
 -->