.home-background {
    background-image: linear-gradient(to right, rgba($color-red-light, $opacity-background), rgba($color-red-dark, $opacity-background)), url(../images/background-home.jpg);
    margin: 25px;
    padding: 0;
    height: 95vh;
    background-size: cover;
    background-position: bottom;
    clip-path: polygon(0 0, 383% 0, 0 99%, 0 0);
    position: relative;

    &-logo {
        height: 50px;
        float: left;
        margin-top: 25px;
    }
}