.index-background {
    overflow: scroll;
}

.index-display {
    width: 90%;
    text-align: center;
    transition: all .4s ease;
    margin: 0 auto;
    
}

.index-title{
    color: $color-white;
    text-shadow: $shadow-default;
    margin: 0 auto;
    width: 60%;
    border-bottom: 1px solid $color-text-light;
    background-color: rgb($color-background-light, .6);
    padding: 1rem 0;
    box-shadow: $shadow-default;
    border-radius: 5px;
}