.index-background {
   height: 97vh;
}

.index-display {
    width: 90%;
    text-align: center;
    transition: all .4s ease;
    margin: 0 auto;
    left: 0;
    
}

.index-title{
    color: black;
    text-transform: uppercase;
    text-shadow: $shadow-hover;
    margin: 0 auto;
    width: 60%;
    font-weight: 800;
    letter-spacing: 10px;

}
