.services{

    &-title{
    letter-spacing: 1rem;
    }

    &-form{
        text-align: center;
    }

    &-inputs{
      //  display: block;
    }

    label{
        display: block;
    }

    button{
        display: block;
        margin: 0 auto;
    }
   
}