.services {
    margin: 1.5rem;

    &-body {
        background-color: rgba($color-background-light, .8);
        padding: 1rem;
        border-radius: 2px;
        box-shadow: $shadow-default;
    }

    &-title {
        letter-spacing: 1rem;
        margin: 3rem 0;
    }

    &-col {
        padding-top: 1rem;
        width: 50%;
        display: inline-block;
    }

    &-description {
        text-align: center;
        margin-right: 0;

    }

    &-text {
        font-size: $font-size-small;
        columns: 2;
        column-rule: 1px solid $color-text-light-2;
        justify-self: center;
    }

    &-form {
        text-align: center;
        border-left: 1px solid black;
    }

    label {
        display: block;
    }

    button {
        display: block;
        margin: 1rem auto;
    }

}

@media(max-width:800px) {
    .services {
        &-text {
            font-size: 1.2rem;
            columns: unset;
        }


        &-form {
            padding-left: 1rem;
        }
    }
}