.show {

    &-row {
        height: 90vh;
        width: 90%;

    }

    &-image {
        max-width: 100%;
        // height: 100%;
        margin: 0 auto;
        box-shadow: $shadow-default;
    }

    &-info {
        display: inline-block;
        background-color: rgba(255, 255, 255, 0.4);
        height: 100%;
    }

    &-price {
        font-size: $font-size-large;
        text-align: center;
        margin-bottom: 2rem;
    }

    &-description {
        font-size: $font-size-small;
        margin: 0 1rem;
        float: left
    }

    &-button {
        margin: 2rem;
        float: left;

    }

    &-title {
        margin-top: 2rem;
    }

    // &-col-info {
    //     background-color: rgba(255, 255, 255, 0.4);
    // }
}

@media(max-width:750px) {
    .show {
        &-row {
            position: unset;
        }

        &-col {
            float: none;
            display: contents;
        }

        &-image {
            max-width: 90%;
            margin: 0 2rem;

        }

        &-info {
            background-color: rgba(255, 255, 255, 0.4);
        }

        &-info-wrapper {
            padding: 2rem;
        }

    }
}