@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }

    80% {
        transform: translateX(20px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }

    80% {
        transform: translateX(-20px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInTop {
    0% {
        opacity: 0;
        transform: translateY(-30px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes fromCenter {
    0% {
        opacity: 0;
    }

    80% {
        scale: 110%;
    }

    100% {
        opacity: 1;
        scale: 100%;
    }
}

@keyframes logo-hover {
    0% {
        scale: 100%;
        transform: rotate(0deg);
    }
    20% {
        transform: rotate(-30deg);
    }

    80% {
        scale: 110%;
        transform: rotate(20deg);
        filter: drop-shadow(0 5px 10px $color-shadow);
    }

    100% {
        scale: 100%;
        transform: rotate(0deg);
    }
}

@keyframes fire {
    0%{
        text-shadow: 1px 1px 8px $color-shadow;
    }

    50%{
        text-shadow: 1px 1px 8px red;
    }

    100%{
        text-shadow: 1px 1px 8px $color-shadow;
    }
    
}

// @keyframes slideshow {
//     0%  { left: 0; }
//     10% { left: 0; }
//     15% { left: -100%; }
//     25% { left: -100%; }
//     30% { left: -200%; }
//     40% { left: -200%; }
//     45% { left: -300%; }
//     55% { left: -300%; }
//     60% { left: -200%; }
//     70% { left: -200%; }
//     75% { left: -100%; }
//     85% { left: -100%; }
//     90% { left: 0%; }
// }