.body {
    font-family: 'Playfair Display', serif;
    text-decoration: none;
}

.button {
    font-size: $font-size-small;
    font-weight: 600;
    letter-spacing: 3px;
    color: $color-text-light;
}

.primary-title {
    position: absolute;
    color: $color-white;
    top: 40%;
    left: 40%;
    text-transform: uppercase;
    transform: translate(-50%, -50%);
    text-shadow: 1px 1px 8px $color-shadow;

    &:hover {
        animation: fire 1s;
    }

    &-main {

        font-size: 60px;
        font-weight: 800;
        letter-spacing: 15px;
        display: block;
        animation: moveInLeft 1s;
    }

    &-sub {
        font-size: 40px;
        font-weight: 400;
        display: block;
        animation: moveInRight 1s;
    }

}

.home-nav {
    text-align: center;
}

.home-love {
    letter-spacing: normal;
}

.secondary-title {
    font-size: $font-size-large;
    text-align: center;
    font-weight: 700;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.tertiary-title {
    font-size: $font-size-medium;
}

.paragraph {
    font-size: $font-size-small;
}

.home-footer {
    color: $color-text-light;
    font-size: $font-size-smaller;
}


@media (max-width: 1000px) {
    .card-title {
        font-size: $font-size-medium;
    }
}

@media (max-width: 760px) {
    .secondary-title {
        font-size: $font-size-medium;
    }

    .primary-title-main {
        font-size: $font-size-small;
        margin-top: 10rem;
    }

    .card-title {
        // font-size: $font-size-small;
    }
}

@media (max-width: 460px) {
    .tertiary-title {
        font-size: $font-size-smaller;
    }

    .secondary-title {
        font-size: $font-size-small;
    }

    .home-footer {
        color: $color-text-light;
        font-size: 0.8rem;
    }
    .card-title {
         font-size: $font-size-medium;
    }
}