<% layout('layouts/home') %>

    <% if(currentUser && currentUser.admin==='on' ){ %>
        <a href="/art/new">New art</a>
        <% } %>
            <div class="index-background">
                <nav class="global-nav">
                    <a href="/" class="button button-nav">Home</a>
                    <a href="/art" class="button button-nav">Gallery</a>
                    <a href="/about" class="button button-nav">about</a>
                </nav>
                <div class="row">
                    <div class="col col-5 art-index">
                        <% for(let a of art) {%>

                            <a href="/art/<%= a._id %>">
                                <% if(a.image.length){ %>

                                    <img src="<%= a.image[0].url%>" alt="" class="img-fluid art-index-images">
                            </a>
                            <% }else{ %>
                                <img src="https://res.cloudinary.com/djj2nhj8d/image/upload/v1670015214/YelpCamp/zshtmbowhix1ihrmytfu.png"
                                    alt="" class="img-fluid">
                                <% } %>
                                    </a>



                                    <%} %>
                    </div>
                    <div class="col col-5">

                    </div>
                </div>

            </div>