<% layout('layouts/boilerplate') %>

<% if(currentUser && currentUser.admin === 'on'){ %> 
    <div><a href="/art/new">New art</a></div>
    <% } %> 
    <div class="container">

        <h1>Arts</h1>

        <% for(let a of art) {%>
            <div class="card mb-3 card-index">
                <div class="row">
                    <div class="col-md-4">
                        <div class="image">
                            <% if(a.image.length){ %>
                                <a href="/art/<%= a._id %>">
                                    <img src="<%= a.image[0].url%>" alt="" class="img-fluid"></a>
                                <% }else{ %>
                                    <img src="https://res.cloudinary.com/djj2nhj8d/image/upload/v1670015214/YelpCamp/zshtmbowhix1ihrmytfu.png"
                                        alt="" class="img-fluid">
                                    <% } %>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="card-body"></div>
                        <h5>
                            <div class="card-title">
                                <%= a.title %>
                            </div>
                    </div>
                    </h5>
                </div>
            </div>
            <%} %>
    </div>