$color-white: #fff;
$color-shadow: #05060F;
$color-red-light: #FF5A5F;
$color-red-dark: #C81D25;
$color-text-light: #087E8B;
$color-text-dark: #0B3954;
$color-background-light: #dde7ee;
$color-background-yellow: #edeedd;
$color-background-dark: #52a4df;

$opacity-background: 0.4;  

//font size
$font-size-smaller: 1.5rem;
$font-size-small: 1.7rem;
$font-size-medium: 2.5rem;
$font-size-large: 3.5rem;

//grid
$grid-width: 93rem;
$gutter-vertical: 6rem;
$gutter-horizontal: 3rem;