.edit-title{
    margin: 2rem 0;
}

.form {
    &-body {
        background-color: rgba($color-background-light, .8);
        padding: 1rem;
        border-radius: 2px;
        box-shadow: $shadow-default;
        text-align: center;
    }

    &-title {
        letter-spacing: 1rem;
        margin: 3rem 0;
    }

    &-col {
        padding-top: 1rem;
        width: 50%;
        display: inline-block;
    }

&-input{
    width: 40%;
    margin: 0 auto;
}

    label {
        display: block;
    }

    hr{
        border: unset;
    }
    button {
        width: 30%;
        display: inline-block;
        margin: 1rem auto;
    }

}